/* wwwroot/css/site.css */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}

.logo-img {
    max-width: 70px;
    max-height: 60px;
}

